html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Nunito";
  background-color: #050d14;
  /* border: thin dotted purple; */
}

button {
  color: white;
  font-family: "Nunito";
  background-color: #002746;
  padding: 0.5em 1em;
  border: 0;
  border-radius:0.2em;
  box-sizing: border-box;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  -webkit-user-select: none;
}

button:active {
  color: #8eb7d8;
  background-color: #051d59;
 box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

button:disabled,
button[disabled] {
  color: #777;
}

button:disabled:active,
button[disabled]:active {
  color: #777;
  background-color: #002746;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

h1 {
  margin: 0;
  font-size: 18px;
}

h1.inactive {
  color: #555;
}

#page {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  /* border: thin dotted white; */
}

header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-height: 36px;
  padding: 4px;
  border-bottom: 1px solid #0e1e2c;
  /* border: thin dotted green; */
}

footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-height: 36px;
  padding: 4px;
  border-top: 1px solid #0e1e2c;
}

#close-button {
}

#project-path {
  font-size: 15px;
  cursor: default;
  -webkit-user-select: none;
}

#main-editor {
  display: flex;
  flex: 7;
  flex-direction: row;
  /* border: thin dotted yellow; */
}

#project-panel {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  padding: 6px;
  /* border: thin dotted blue; */
  text-align: center;
  font-size: 15px;
  border-right: 1px solid #0e1e2c;
  overflow-x: scroll;
  cursor: default;
  -webkit-user-select: none;
}

#project-panel > ul {
  margin-left: 24px;
}

#project-panel ul {
  margin-top: 0;
  padding-left: 12px;
}

#project-panel li {
  margin: 4px 0;
  text-align: left;
}

#project-panel li span {
  vertical-align: 0.4em;
}

#project-panel li > ul {
  display: none;
}

#project-panel li.active > ul {
  display: block;
}

#project-panel li.dir {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" width=\"24\" version=\"1.1\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"> <g transform=\"translate(0 -1028.4)\"> <path d=\"m2 1033.4c-1.1046 0-2 0.9-2 2v14c0 1.1 0.89543 2 2 2h20c1.105 0 2-0.9 2-2v-14c0-1.1-0.895-2-2-2h-20z\" fill=\"%232980b9\"/> <path d=\"m3 1029.4c-1.1046 0-2 0.9-2 2v14c0 1.1 0.8954 2 2 2h11 5 2c1.105 0 2-0.9 2-2v-9-3c0-1.1-0.895-2-2-2h-2-5-1l-3-2h-7z\" fill=\"%232980b9\"/> <path d=\"m23 1042.4v-8c0-1.1-0.895-2-2-2h-11-5-2c-1.1046 0-2 0.9-2 2v8h22z\" fill=\"%23bdc3c7\"/> <path d=\"m2 1033.4c-1.1046 0-2 0.9-2 2v6 1 6c0 1.1 0.89543 2 2 2h20c1.105 0 2-0.9 2-2v-6-1-6c0-1.1-0.895-2-2-2h-20z\" fill=\"%233498db\"/> </g> </svg>");
}

#project-panel li.md {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" height=\"24\" width=\"24\" version=\"1.1\" id=\"svg3775\" sodipodi:docname=\"markdown3.svg\" inkscape:version=\"0.92.4 (5da689c313, 2019-01-14)\">   <metadata   id=\"metadata3781\">  <rdf:RDF>    <cc:Work    rdf:about=\"\">   <dc:format>image/svg+xml</dc:format>   <dc:type   rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />    </cc:Work>  </rdf:RDF>   </metadata>   <defs   id=\"defs3779\" />   <sodipodi:namedview   pagecolor=\"%23ffffff\"   bordercolor=\"%23666666\"   borderopacity=\"1\"   objecttolerance=\"10\"   gridtolerance=\"10\"   guidetolerance=\"10\"   inkscape:pageopacity=\"0\"   inkscape:pageshadow=\"2\"   inkscape:window-width=\"2560\"   inkscape:window-height=\"1377\"   id=\"namedview3777\"   showgrid=\"false\"   inkscape:zoom=\"51.565217\"   inkscape:cx=\"12\"   inkscape:cy=\"11.5\"   inkscape:window-x=\"0\"   inkscape:window-y=\"26\"   inkscape:window-maximized=\"1\"   inkscape:current-layer=\"svg3775\" />   <g   transform=\"translate(0 -1028.4)\"   id=\"g3773\">  <path  d=\"m5 1030.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\"  fill=\"%2395a5a6\"  id=\"path3767\" />  <path  d=\"m5 1029.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\"  fill=\"%23bdc3c7\"  id=\"path3769\" />  <path  d=\"m21 1035.4-6-6v4c0 1.1 0.895 2 2 2h4z\"  fill=\"%2395a5a6\"  id=\"path3771\" />   </g>   <g   id=\"g3851\"   transform=\"matrix(0.05352867,0,0,0.05352867,5.0999028,8.9278139)\">  <path  style=\"fill:%23000000\"  inkscape:connector-curvature=\"0\"  d=\"M 238.37126,157.89222 H 18.39521 C 8.4311377,157.89222 0,149.46108 0,139.49701 V 18.39521 C 0,8.4311377 8.4311377,0 18.39521,0 H 237.60479 C 247.56886,0 256,8.4311377 256,18.39521 v 121.1018 c 0,9.96407 -7.66467,18.39521 -17.62874,18.39521 z M 18.39521,12.263473 c -3.065869,0 -6.131737,3.065868 -6.131737,6.131737 v 121.1018 c 0,3.83233 3.065868,6.13173 6.131737,6.13173 h 219.20958 c 3.83234,0 6.13174,-3.06587 6.13174,-6.13173 V 18.39521 c 0,-3.832336 -3.06587,-6.131737 -6.13174,-6.131737 0.76647,0 -219.20958,0 -219.20958,0 z M 36.790419,121.1018 V 36.790419 H 61.317365 L 85.844311,67.449102 110.37126,36.790419 H 134.8982 V 121.1018 H 110.37126 V 72.814371 L 85.844311,103.47305 61.317365,72.814371 V 121.1018 Z m 154.059881,0 -36.79042,-40.622758 h 24.52695 V 36.790419 h 24.52694 v 42.922156 h 24.52695 z\"  id=\"path3849\" />   </g> </svg>");
}

#project-panel li.img {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" width=\"24\" version=\"1.1\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"> <g transform=\"translate(0 -1028.4)\"> <path d=\"m23 1048.4c0 1.1-0.895 2-2 2h-8-4-6c-1.1046 0-2-0.9-2-2v-14c0-1.1 0.8954-2 2-2h6 4 4 4c1.105 0 2 0.9 2 2v4 10z\" fill=\"%2395a5a6\"/> <path d=\"m1 1047.4c0 1.1 0.8954 2 2 2h8 4 6c1.105 0 2-0.9 2-2v-14c0-1.1-0.895-2-2-2h-6-4-4-4c-1.1046 0-2 0.9-2 2v4 10z\" fill=\"%23bdc3c7\"/> <rect transform=\"translate(0 1028.4)\" height=\"14\" width=\"18\" y=\"5\" x=\"3\" fill=\"%23f39c12\"/> <path d=\"m16.625 8.625-10.344 10.375h14.719v-6l-4.375-4.375z\" transform=\"translate(0 1028.4)\" fill=\"%23e67e22\"/> <path d=\"m8 8a2 2 0 1 1 -4 0 2 2 0 1 1 4 0z\" transform=\"matrix(1.75 0 0 1.75 -3 1024.4)\" fill=\"%23f1c40f\"/> <path d=\"m8.0938 11.094-5.0938 5.094v2.812h13l-7.9062-7.906z\" transform=\"translate(0 1028.4)\" fill=\"%23d35400\"/> </g> </svg>");
}

#project-panel li.file {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" width=\"24\" version=\"1.1\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"> <g transform=\"translate(0 -1028.4)\"> <path d=\"m5 1030.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\" fill=\"%2395a5a6\"/> <path d=\"m5 1029.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\" fill=\"%23bdc3c7\"/> <path d=\"m21 1035.4-6-6v4c0 1.1 0.895 2 2 2h4z\" fill=\"%2395a5a6\"/> </g> </svg>");
}

#project-panel li.no-edit {
  color: #777;
}

#project-panel li.dir.no-edit {
  color: white;
}

#editor {
  flex: 5;
  padding: 6px;
  /* border: thin dotted red; */
}
