html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Nunito";
  background-color: #050d14;
  /* border: thin dotted purple; */
}

button {
  color: white;
  font-family: "Nunito";
  background-color: #002746;
  padding: 0.5em 1em;
  border: 0;
  border-radius:0.2em;
  box-sizing: border-box;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

button:active {
  color: #8eb7d8;
  background-color: #051d59;
 box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

h1 {
  margin: 0;
  font-size: 18px;
}

h1.inactive {
  color: #555;
}

#page {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  /* border: thin dotted white; */
}

header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-height: 36px;
  padding: 4px;
  border-bottom: 1px solid #0e1e2c;
  /* border: thin dotted green; */
}

#close-button {
}

#project-path {
  font-size: 15px;
  cursor: default;
}

#main-editor {
  display: flex;
  flex: 7;
  flex-direction: row;
  /* border: thin dotted yellow; */
}

#project-panel {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  padding: 6px;
  /* border: thin dotted blue; */
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #0e1e2c;
  overflow-x: scroll;
}

#project-panel ul {
  margin-top: 0;
  cursor: default;
}

#project-panel li {
  text-align: left;
}

#project-panel li.dir {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" width=\"24\" version=\"1.1\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"> <g transform=\"translate(0 -1028.4)\"> <path d=\"m2 1033.4c-1.1046 0-2 0.9-2 2v14c0 1.1 0.89543 2 2 2h20c1.105 0 2-0.9 2-2v-14c0-1.1-0.895-2-2-2h-20z\" fill=\"%232980b9\"/> <path d=\"m3 1029.4c-1.1046 0-2 0.9-2 2v14c0 1.1 0.8954 2 2 2h11 5 2c1.105 0 2-0.9 2-2v-9-3c0-1.1-0.895-2-2-2h-2-5-1l-3-2h-7z\" fill=\"%232980b9\"/> <path d=\"m23 1042.4v-8c0-1.1-0.895-2-2-2h-11-5-2c-1.1046 0-2 0.9-2 2v8h22z\" fill=\"%23bdc3c7\"/> <path d=\"m2 1033.4c-1.1046 0-2 0.9-2 2v6 1 6c0 1.1 0.89543 2 2 2h20c1.105 0 2-0.9 2-2v-6-1-6c0-1.1-0.895-2-2-2h-20z\" fill=\"%233498db\"/> </g> </svg>");
}

#project-panel li.file {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns%23\" xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" width=\"24\" version=\"1.1\" xmlns:cc=\"http://creativecommons.org/ns%23\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"> <g transform=\"translate(0 -1028.4)\"> <path d=\"m5 1030.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\" fill=\"%2395a5a6\"/> <path d=\"m5 1029.4c-1.1046 0-2 0.9-2 2v8 4 6c0 1.1 0.8954 2 2 2h14c1.105 0 2-0.9 2-2v-6-4-4l-6-6h-10z\" fill=\"%23bdc3c7\"/> <path d=\"m21 1035.4-6-6v4c0 1.1 0.895 2 2 2h4z\" fill=\"%2395a5a6\"/> </g> </svg>");
}

#editor {
  flex: 5;
  padding: 6px;
  /* border: thin dotted red; */
}
